<%- include('templates/header.ejs') %>
	<ul>
		<li><a href="/students">STUDENTS</a></li>
		<li><a href="/subjects">SUBJECTS</a></li>
		<li><a href="/teachers">TEACHERS</a></li>
		<li><a href="/login">LOGIN</a></li>
		<li><a href="/logout">LOG OUT</a></li>
	</ul>
<%- include('templates/footer.ejs') %>