<%- include('templates/header.ejs') %>

<div class = "form-container">
	<%
	if (hasOwnProperty('err')) {
	err.errors.forEach(error => {
	%>
		<p class = "err"><%= error.message %></p>
	<%})}%>
	<form action = "/students/add" method = "POST">
		First Name:
		<br>
		<input type = "text" name = "first_name" autofocus required>
		<br>
		Last Name:
		<br>
		<input type = "text" name = "last_name" required>
		<br>
		Email:
		<br>
		<input type = "text" name = "email" required>
		<br>
		<br>
		<input class="waves-effect waves-light btn" type = "submit" value = "Add Students">
	</form>
</div>
<%- include('templates/footer.ejs') %>