#tagline {
	padding: 32px 64px;
	width: 62%;
}
#tagline h1 {
	font-weight: 200;
}

#tagline p {
	font-size: 1.4em;
	font-weight: 200;
}

.nav-wrapper {
	padding: 0 64px;
}

.login-form-container {
	width: 32%;
	margin: 64px auto;
}

.form-container {
	width: 32%;
	margin: 32px auto;
}

.table-container {
	padding: 32px 64px;
}

.add-subject-table-container {
	width: 32%;
	margin: 32px auto;
}

.add {
	margin-top: 32px;
}

.err {
	color: red;
	width: 100%;
	display: block;
	text-align: center;
}