<!DOCTYPE html>
<html>
<head>
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<a href="/">Home</a>
<a href="/students">Students</a>
<a href="/subjects">Subjects</a>
<a href="/teachers">Teachers</a>